@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish-font {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ? Shared Style */
span {
    color: #FF5400;
}

.container {
    width: 73%;
    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    background-color: #FF5400;
    border-radius: 8px;
    padding: 16px 34px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}


/* ? header section style */
header {
    display: flex;
    justify-content: space-between;
    width: 73%;
    max-width: 1178px;
    margin: 48px auto;
}

header>div {
    display: flex;
    align-items: center;
    gap: 16px;
}

header>img {
    max-width: 48px;
    max-height: 56px;
}

header>div>h2 {
    font-size: 36px;
    font-weight: 900;
    color: #131318;
}

header>ul {
    display: flex;
    gap: 44px;
    align-items: center;
    list-style: none;
}

header>ul>li>a {
    text-decoration: none;
    color: #424247;
}


/* * hero section style start */

/* .hero-section {
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%),
        url(../assets/img/Group\ 13\ \(1\)\ \(1\).png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    min-height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}


.hero-section>div>h2 {
    font-size: 64px;
    font-weight: 700;
}

.hero-section>div>p {
    max-width: 676px;
    font-size: 16px;
}

.hero-section>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-section>div>form {
    background-color: rgba(255, 255, 255, 0.3);
    ;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.hero-section>div>form select,
.hero-section>div>form input[type="text"] {
    padding: 16px 16px;
    border-radius: 8px;
    background-color: #fff;
    border: none;
    font-size: 16px;
    display: block;
} */

.hero-section {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%),
        url("../assets/img/Group 13 (1) (1).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 500px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 40px 20px;
    justify-content: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
}

.hero-content h1 {
    font-size: 64px;
    font-weight: 700;
}

.hero-content p {
    max-width: 650px;
    margin: 0 auto;
    font-size: 16px;
}

.hero-form {
    background: rgba(255, 255, 255, 0.3);
    padding: 16px;
    border-radius: 8px;

    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.hero-form input,
.hero-form select,
.hero-form button {
    padding: 14px 16px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    min-width: 150px;
}






/* ? Responsive section */

@media screen and (max-width:576px) {

    header {
        flex-direction: column;
        align-items: center;
    }

    header>div>h2 {
        font-size: 26px;
    }

    header>ul {
        gap: 20px;
    }

    .hero-form {
        flex-direction: column;
    }

    .hero-content h1 {
        font-size: 36px;
    }





}